.workflow .span6 {
  float: left;
  width: 50%; }

.workflow hr {
  clear: both; }

.workflow button:not([class*="btn-"]), .workflow a.action-Edit {
  display: inline-block;
  width: 26px;
  height: 22px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
  text-align: center;
  border: none;
  background: #fff;
  text-decoration: none; }
  .workflow button:not([class*="btn-"]):hover, .workflow a.action-Edit:hover {
    background: #ddd; }

.workflow td:last-child {
  background: #eee;
  text-align: right; }
  .workflow td:last-child.btn-count-4 {
    width: 116px; }
  .workflow td:last-child.btn-count-3 {
    width: 86px; }
  .workflow td:last-child.btn-count-2 {
    width: 56px; }
  .workflow td:last-child:hover {
    background: #ccc; }

.workflow label {
  float: left;
  width: 160px;
  display: block;
  margin-bottom: 5px;
  padding-top: 8px; }

.workflow textarea, .workflow input {
  border: 1px solid #ccc; }

.workflow .user-lists {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 15px; }

.workflow .user-list {
  width: 45%;
  float: left;
  margin: 0 5% 0 0; }
  .workflow .user-list input {
    width: 200px; }
  .workflow .user-list ul {
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    margin: 0; }
    .workflow .user-list ul li {
      padding: 5px 10px;
      cursor: pointer; }
      .workflow .user-list ul li:hover {
        background: #ddd; }
      .workflow .user-list ul li:nth-child(even) {
        background: #f5f5f5; }
        .workflow .user-list ul li:nth-child(even):hover {
          background: #ddd; }

.workflow .permissions-list:before {
  content: attr(data-label);
  display: block;
  margin: 0 0 5px -25px; }

.workflow .current-flow .last::after {
  content: '(Publisher)';
  display: inline-block;
  padding-left: 5px; }

.workflow .umb-table-cell ul {
  margin: 0; }

.workflow .umb-table-cell.show-overflow, .workflow .umb-table-cell.show-overflow > * {
  overflow: visible; }

.workflow .controls h5 {
  margin-top: 0; }

.workflow .control-panel {
  padding: 10px 0;
  margin-bottom: 10px; }

.workflow .workflow-progress {
  margin: 10px;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
  display: flex;
  position: relative; }

.workflow .progress-step {
  text-align: center;
  position: relative; }
  .workflow .progress-step::before, .workflow .progress-step::after {
    content: '';
    width: 50%;
    height: 1px;
    position: absolute;
    top: 6px;
    background: #d9d9d9; }
  .workflow .progress-step::before {
    left: 0; }
  .workflow .progress-step::after {
    right: 0; }
  .workflow .progress-step.done .tooltip-done {
    display: block; }
  .workflow .progress-step.done::before, .workflow .progress-step.done::after, .workflow .progress-step.done .marker, .workflow .progress-step.done .tooltip::after {
    background: #53a93f; }
  .workflow .progress-step.done .tooltip {
    border-color: #53a93f; }
  .workflow .progress-step.current .tooltip-current {
    display: block; }
  .workflow .progress-step.current .marker, .workflow .progress-step.current .tooltip::after {
    background: #df7f48; }
  .workflow .progress-step.current::before {
    background: linear-gradient(90deg, #53a93f, #df7f48); }
  .workflow .progress-step.current::after {
    background: linear-gradient(90deg, #df7f48, #d9d9d9); }
  .workflow .progress-step.current .tooltip {
    border-color: #df7f48; }

.workflow .marker {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
  background: #d9d9d9;
  position: relative;
  cursor: pointer; }
  .workflow .marker:hover + .tooltip {
    display: block;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 1; }
  .workflow .marker + .tooltip {
    display: none;
    background: #f8f8f8;
    padding: 5px;
    border: 1px solid #d9d9d9; }
    .workflow .marker + .tooltip::after {
      content: '';
      width: 1px;
      height: 10px;
      background: #d9d9d9;
      position: absolute;
      top: 100%;
      left: calc(50% - 1px); }
    .workflow .marker + .tooltip span {
      display: none; }

.workflow .dropdown-menu .warning {
  color: #df7f48; }

.workflow .dropdown-menu .danger {
  color: #ee5f5b; }

.workflow .workflow-nested {
  margin: 10px;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
  display: flex;
  position: relative; }

.workflow .umb-table__input[type=checkbox] {
  opacity: 0;
  cursor: default; }

.workflow .umb-table-body__icon.soft {
  opacity: .25; }

.workflow .table-row-outer.approved .umb-table-body__icon {
  color: #53a93f; }

/*************/
.workflow-action-dialog .umb-pane {
  overflow: hidden; }

.workflow-action-dialog textarea {
  width: 386px;
  height: 100px; }

.workflow-action-dialog .umb-loader {
  height: 5px;
  margin-top: 15px; }

.workflow-differences-dialog {
  overflow-x: scroll; }
  .workflow-differences-dialog table {
    text-align: left;
    -ms-word-break: break-word;
    word-break: break-word; }
    .workflow-differences-dialog table th {
      width: 200px;
      padding: 5px; }
    .workflow-differences-dialog table td {
      padding: 5px; }
    .workflow-differences-dialog table tr:nth-child(odd) {
      background: #f5f5f5; }
  .workflow-differences-dialog button {
    float: right; }
  .workflow-differences-dialog del {
    background: #ffdcdc; }
  .workflow-differences-dialog ins {
    background: #dcffdc; }
  .workflow-differences-dialog .compare-msg br {
    line-height: 2; }

[id*="workflow-differences"].umb-modal.fade.in {
  width: 740px !important;
  margin-left: -740px; }

