<div ng-show="loaded">
    <div ng-show="items.length">
        <div class="umb-table">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell">
                        <input class="umb-table__input" type="checkbox"
                               ng-hide="noActions"
                               ng-click="selectAll($event)"
                               ng-checked="isSelectedAll()">
                    </div>
                    <div class="umb-table-cell umb-table-cell__7">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Type
                        </a>
                    </div>
                    <div class="umb-table-cell umb-table__name">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Page
                        </a>
                    </div>
                    <div class="umb-table-cell">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Requested by
                        </a>
                    </div>
                    <div class="umb-table-cell">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Requested on
                        </a>
                    </div>
                    <div class="umb-table-cell umb-table-cell__15">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Comments
                        </a>
                    </div>
                    <div class="umb-table-cell">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Approver
                        </a>
                    </div>
                    <div class="umb-table-cell umb-table-cell__fixed-170 show-overflow" ng-if="!noActions">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Actions
                        </a>
                    </div>
                </div>
            </div>
            <div class="umb-table-body">
                <div class="table-row-outer" ng-repeat="item in items track by $index">
                    <div class="umb-table-row">
                        <div class="umb-table-cell">
                            <i class="umb-table-body__icon icon-document {{ item.type | lowercase }}"></i>
                        </div>
                        <div class="umb-table-cell umb-table-cell__7" ng-bind="item.type"></div>
                        <div class="umb-table-cell umb-table__name">
                            <a href="#" ng-href="../umbraco/preview/?id={{item.nodeId}}" ng-bind="item.nodeName" target="_blank"></a>
                        </div>
                        <div class="umb-table-cell" ng-bind="item.requestedBy"></div>
                        <div class="umb-table-cell" ng-bind="item.requestedOn"></div>
                        <div class="umb-table-cell umb-table-cell__15" ng-bind="item.comment || item.instanceComment"></div>
                        <div class="umb-table-cell" ng-bind="item.approvalGroup"></div>
                        <div class="umb-table-cell umb-table-cell__fixed-170 show-overflow" ng-if="!noActions">

                            <workflow-button-group ng-if="buttonGroup"
                                                   default-button="buttonGroup.defaultButton"
                                                   sub-buttons="buttonGroup.subButtons"
                                                   direction="down"
                                                   item="item"
                                                   float="right">
                            </workflow-button-group>
                        </div>
                    </div>
                    <div class="workflow-progress {{ item.instanceStatus }}">
                        <wf-progress-step
                            task="p"
                            status="item.cssStatus"
                            total="item.permissions.length"
                            current="item.currentStep"
                            ng-repeat="p in item.permissions track by $index | orderBy: 'permission'">
                        </wf-progress-step>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <umb-empty-state ng-if="!items.length">
        <localize key="content_listViewNoItems">There are no items show in the list.</localize>
    </umb-empty-state>
</div>
<umb-load-indicator ng-if="!loaded"></umb-load-indicator>