<div ng-show="loaded">
    <div ng-show="items.length">
        <div class="umb-table">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell">
                    </div>
                    <div class="umb-table-cell">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Type
                        </a>
                    </div>
                    <div class="umb-table-cell umb-table__name" ng-if="showName">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Page
                        </a>
                    </div>
                    <div class="umb-table-cell">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Requested by
                        </a>
                    </div>
                    <div class="umb-table-cell">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Requested on
                        </a>
                    </div>
                    <div class="umb-table-cell">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Comment
                        </a>
                    </div>
                    <div class="umb-table-cell table-cell--narrow">
                        <a class="umb-table-head__link" href="#" prevent-default>
                            Detail
                        </a>
                    </div>
                </div>
            </div>
            <div class="umb-table-body">
                <div class="table-row-outer {{ item.cssStatus }}" ng-repeat="item in items track by $index">
                    <div class="umb-table-row">
                        <div class="umb-table-cell">
                            <i class="umb-table-body__icon icon-{{ item.cssStatus === 'errored' ? 'delete' : 'document' }}"></i>
                        </div>
                        <div class="umb-table-cell" ng-bind="item.type"></div>
                        <div class="umb-table-cell umb-table__name" ng-if="showName">
                            <a href="#" ng-href="/umbraco/dialogs/preview.aspx?id={{item.nodeId}}" ng-bind="item.nodeName" target="_blank"></a>
                        </div>
                        <div class="umb-table-cell" ng-bind="item.requestedBy"></div>
                        <div class="umb-table-cell" ng-bind="item.requestedOn"></div>
                        <div class="umb-table-cell" ng-bind="item.comment"></div>
                        <div class="umb-table-cell table-cell--narrow">
                            <button class="btn btn-default task-detail-btn" ng-click="detail(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path class="tasks-icon" d="M208 132h288c8.8 0 16-7.2 16-16V76c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zm0 160h288c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zm0 160h288c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zM64 368c-26.5 0-48.6 21.5-48.6 48s22.1 48 48.6 48 48-21.5 48-48-21.5-48-48-48zm92.5-299l-72.2 72.2-15.6 15.6c-4.7 4.7-12.9 4.7-17.6 0L3.5 109.4c-4.7-4.7-4.7-12.3 0-17l15.7-15.7c4.7-4.7 12.3-4.7 17 0l22.7 22.1 63.7-63.3c4.7-4.7 12.3-4.7 17 0l17 16.5c4.6 4.7 4.6 12.3-.1 17zm0 159.6l-72.2 72.2-15.7 15.7c-4.7 4.7-12.9 4.7-17.6 0L3.5 269c-4.7-4.7-4.7-12.3 0-17l15.7-15.7c4.7-4.7 12.3-4.7 17 0l22.7 22.1 63.7-63.7c4.7-4.7 12.3-4.7 17 0l17 17c4.6 4.6 4.6 12.2-.1 16.9z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <umb-empty-state ng-if="!items.length">
        <localize key="content_listViewNoItems"></localize>
    </umb-empty-state>

    <umb-overlay ng-if="instanceOverlay.show"
                 model="instanceOverlay"
                 view="instanceOverlay.view"
                 position="right">
    </umb-overlay>
</div>
<umb-load-indicator ng-if="!loaded"></umb-load-indicator>