<div class="umb-panel workflow" ng-controller="Workflow.Dashboard.Controller as vm">
    <form class="umb-dashboard" novalidate="">
        <umb-editor-view footer="false" umb-tabs>
            <umb-editor-container>
                <wf-tasks heading="'Tasks requiring my approval'" items="vm.tasks" loaded="vm.loaded[0]" type="0"></wf-tasks>
                <wf-tasks heading="'My submissions'" items="vm.submissions" loaded="vm.loaded[1]" type="1"></wf-tasks>
                <wf-tasks ng-if="vm.adminUser" heading="'Workflow administration'" items="vm.activeTasks" loaded="vm.loaded[2]" type="1"></wf-tasks>                   
            </umb-editor-container>
        </umb-editor-view>
    </form>
</div>