<div class="workflow-action-dialog umb-overlay umb-overlay-right" ng-controller="Workflow.Approve.Controller">
    <div class="umb-overlay-header">
        <h4>Approve workflow task</h4>
        <h5>Document: {{dialogData.PageName}}</h5>
    </div>
    <div class="umb-overlay-container">
        <p>Edited by {{dialogData.RequestedBy}} on {{dialogData.RequestedOn}}</p>
        <p><i>"{{dialogData.Comments}}"</i></p>
        <p ng-if="dialogData.CoordinatedBy !== null">Coordinator approval by {{dialogData.CoordinatedBy}} on {{dialogData.CoordinatedOn}} </p>
        <p ng-if="dialogData.CoordinatorComments.length > 0"><i>"{{dialogData.CoordinatorComments}}"</i></p>

        <wf-comments intro="approvalIntro"
                     limit="limit"
                     label-text="'Comments'"
                     comment="approvalComment"
                     is-final-approval="isFinalApproval"
                     disabled="disabled"></wf-comments>
    </div>
    <div class="umb-overlay-drawer">
        <div class="umb-overlay-drawer__align-right">
            <button ng-click="close()" data-hotkey="ctrl+x" class="btn btn-link">
                Cancel
            </button>
            <button ng-click="reject()" data-hotkey="ctrl+r" class="btn btn-warning" ng-disabled="disabled">
                Reject
            </button>
            <button ng-click="approve()" data-hotkey="ctrl+s" class="btn btn-primary" ng-disabled="disabled">
                Approve
            </button>
            <div ng-show="showLoader" class="umb-loader"><div></div></div>
        </div>
    </div>

    <div class="umb-pane">
        

       
    </div>
</div>