<div ng-controller="Workflow.Submit.Controller">
    <div class="umb-dialog-body with-footer workflow">
        <umb-pane ng-show="!model.isDirty">
            <p ng-show="model.isPublish">Please add a comment describing the changes.</p>
            <p ng-show="!model.isPublish">Please add a comment.</p>
            <textarea ng-model="model.comment" maxlength="255" no-dirty-check umb-auto-focus></textarea>
        </umb-pane>
        <umb-pane ng-show="model.isDirty">
            <div class="alert alert-warning">
                <p ng-show="model.isDirty"><strong>UNSAVED CHANGES</strong> - Page has unsaved changes. Please save changes before requesting publish.</p>
            </div>
        </umb-pane>
    </div>
</div>
