<div class="umb-pane workflow history-dialog" ng-controller="Workflow.History.Controller as vm">
    <div class="umb-dialog-body with-footer">
        <div class="umb-pane">
            <wf-instance items="vm.items" loaded="vm.nodeInstancesLoaded" view="vm.view"></wf-instance>

            <div class="flex justify-center">
                <umb-pagination ng-if="vm.pagination.totalPages > 1"
                                page-number="vm.pagination.pageNumber"
                                total-pages="vm.pagination.totalPages"
                                on-next="vm.pagination.goToPage"
                                on-prev="vm.pagination.goToPage"
                                on-go-to-page="vm.pagination.goToPage">
                </umb-pagination>            
            </div>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <a href="" class="btn btn-primary" ng-click="nav.hideDialog()"><localize key="general_ok">OK</localize></a>
    </div>
</div>