<div class="workflow action-dialog" ng-controller="Workflow.Action.Controller as vm">

    <p>
        Content modified by {{ model.requestedBy }}<br />
        Approval requested on {{ model.requestedOn }}
    </p>
    <h5>Change description</h5>
    <p><i>{{ model.comment }}</i></p>

    <div ng-if="vm.tasks.length">

        <hr />
        <h5>Current workflow activity</h5>

        <ul class="action-dialog--task-list">
            <li class="action-dialog--task-list-item" ng-repeat="taskCollection in vm.tasks track by $index">
                <div class="history-task-number">
                    <span class="counter">Stage {{ $index + 1 }}</span>
                </div>
                <div class="history-tasks">
                    <div class="history-task" ng-repeat="t in taskCollection | orderBy: 'id'">
                        <i class="icon icon-{{ t | iconName }} {{ t.cssStatus }}"></i>
                        <!-- todo - this is horrible. fix it -->
                        <div ng-if="t.typeId === 2">
                            Resubmitted by {{ t.completedBy }}<br />
                            on {{ t.completedOn }} <br />
                            Comment: {{ t.comment }}
                        </div>
                        <div ng-if="t.status !== 4 && t.status !== 3 && t.typeId !== 2">
                            <span ng-bind="t.statusName"></span> by <strong ng-bind="t.approvalGroup"></strong> ({{ t.completedBy }})<br />
                            on {{ t.completedOn }} <br />
                            Comment: {{ t.comment }}
                        </div>
                        <div ng-if="t.status === 3">
                            Pending approval by <strong ng-bind="t.approvalGroup"></strong>
                        </div>
                        <div ng-if="t.status === 4">
                            {{ t.comment }}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div ng-if="model.detail !== true">
        <hr />
        <h5>Stage {{ vm.currentStep }} of {{ vm.totalSteps }}</h5>

        <wf-comments limit="vm.limit"
                     label-text="'Please provide a comment'"
                     comment="model.approvalComment"
                     is-final-approval="model.isFinalApproval"
                     disabled="vm.disabled">
        </wf-comments>
    </div>
</div>