<div class="workflow" ng-controller="Workflow.Dashboard.Controller as vm">

    <wf-tasks heading="'Tasks requiring my approval'" items="vm.tasks" loaded="vm.loaded[0]"></wf-tasks>
    <wf-tasks heading="'My submissions'" items="vm.submissions" loaded="vm.loaded[1]"></wf-tasks>
    <wf-tasks ng-if="vm.adminUser" heading="'Workflow administration'" items="vm.activeTasks" edit-link="'false'" loaded="vm.loaded[2]"></wf-tasks>

    <script type="text/ng-template" id="wf-tasks-template.html">
        <h3 ng-bind="heading"></h3>
        <div ng-show="items.length">
            <wf-paging-controls></wf-paging-controls>
            <table ng-cloak class="paged-table">
                <tr>
                    <th>Type</th>
                    <th>Page</th>
                    <th class="requested-on-by">Requested by</th>
                    <th class="requested-on-by">Requested on</th>
                    <th class="comments">Comments</th>
                    <th>Approver</th>
                    <th>Actions</th>
                </tr>

                <tr ng-repeat="task in items track by $index">
                    <td class="action-{{task.Type}}" ng-bind="task.Type"></td>
                    <td><a ng-href="/umbraco/dialogs/preview.aspx?id={{task.NodeId}}" ng-bind="task.PageName" target="_blank"></a></td>
                    <td ng-bind="task.RequestedBy"></td>
                    <td ng-bind="task.RequestedOn"></td>
                    <td class="comments" ng-bind="task.Comments"></td>
                    <td ng-bind="task.ApprovalGroup"></td>
                    <td class="btn-count-{{buttonCount(task)}}">
                        <a ng-if="editLink != 'false'" ng-href="/umbraco#/content/content/edit/{{task.NodeId}}" class="icon icon-edit action-Edit" title="Edit"></a>
                        <button ng-if="task.IsPublished === true" ng-click="showDifferences(task)" class="icon icon-trafic" title="Show differences"></button>
                        <button ng-if="task.ShowActionLink === true" ng-click="approveTask(task)" class="icon icon-check" title="Action workflow"></button>
                        <button ng-click="cancelTask(task)" class="icon icon-delete" title="Cancel workflow"></button>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="!items.length">
            <div class="alert alert-success">
                <strong>Happy days! </strong>No pending workflow tasks
            </div>
        </div>
    </script>

</div>