@import "_variables";

.workflow {
    .highcharts-root {
        width:100%;
    }

    .highcharts-container {
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; // umbraco defaults
    }

    .highcharts-color-0 {
        fill:$success;
        color:$success;
    }

    .highcharts-color-1 {
        fill:$danger;
        color:$danger;
    }

    .highcharts-color-2 {
        fill:$pending;
        color:$pending;
        stroke:$pending;
    }

    .highcharts-color-3 {
        fill:$warning;
        color:$warning;
    }

    .highcharts-legend-item {
        text {
            font-weight:normal;
        }
    }

    .chart-loading {
        opacity:.5;
        transition:all ease-in-out .3s;
    }
}