@import "_variables";

.highcharts-root {
    width: 100%;
}

.highcharts-container {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif; // umbraco defaults
}

.wf-highcharts-color-approved {
    fill: $success;
    color: $success;

    .highcharts-point {
        fill: $success;
        color: $success;
    }
}

.wf-highcharts-color-cancelled {
    fill: $danger;
    color: $danger;

    .highcharts-point {
        fill: $danger;
        color: $danger;
    }
}

.wf-highcharts-color-resubmitted {
    fill: $pending;
    color: $pending;

    .highcharts-point {
        fill: $pending;
        color: $pending;
    }
}

.wf-highcharts-color-rejected {
    fill: $warning;
    color: $warning;

    .highcharts-point {
        fill: $warning;
        color: $warning;
    }
}

.wf-highcharts-color-notreq,
.wf-highcharts-color-not-required {
    fill: #8085e9;
    color: #8085e9;

    .highcharts-point {
        fill: #8085e9;
        color: #8085e9;
    }
}

.highcharts-color-5,
.wf-highcharts-color-total {
    stroke: #666;
    fill:#666;

    .highcharts-point {
        stroke: #666;
        fill:#666;
    }
}

.highcharts-legend-item {
    text {
        font-weight: normal;
    }
}

.chart-loading {
    opacity: .5;
    transition: all ease-in-out .3s;
}

.chart-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-transform: uppercase;

    &.vert-centered {
        align-items:center;

        li {
            padding:0;
            background:0 0;
            margin-bottom:0;

            &:first-child {
                flex:0 1 auto;
            }
        }

        .btn {
            width:100%;
        }
    }

    &.has-steps {
        margin:0 -5px;

        li {
            margin: 0 5px 20px;
        }
    }

    li {
        display:flex;
        flex-basis: 20%;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:space-between;
        background: #f3f3f5;
        border-radius: 3px;
        padding: 15px 10px;
        text-align: center;
        border: 2px solid transparent;
        margin: 0 15px 30px;
        line-height: 1;
    }

    .progress-step {
        &::before, &::after {
            display:none;
        }

        .marker {
            margin-bottom:10px;
        }
    }

    .jumbo {
        font-weight: bold;
        display: block;
        font-size: 3rem;
    }
}

.chart-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .workflow-history & {
        margin-bottom:0;
    }

    label {
        width: 120px;
    }

    .umb-property {
        flex: 0;
        margin: 0 15px;
        display: flex;
    }

    .umb-el-wrap {
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
    }

    .control-group {
        padding: 15px;
        border: 1px solid #f3f3f3;
        margin: 0 !important;
    }

    input, label, select {
        margin-bottom: 0;
    }

    .controls-row {
        margin-left: 0;
        padding: 0;
    }
}

/* recolor */
.wf-highcharts-color-approved {
    fill: $step1;
    color: $step1;

    .highcharts-point {
        fill: $step1;
        color: $step1;
    }
}

.wf-highcharts-color-cancelled {
    fill: $step5;
    color: $step5;

    .highcharts-point {
        fill: $step5;
        color: $step5;
    }
}

.wf-highcharts-color-resubmitted {
    fill: $step3;
    color: $step3;

    .highcharts-point {
        fill: $step3;
        color: $step3;
    }
}

.wf-highcharts-color-rejected {
    fill: $step4;
    color: $step4;

    .highcharts-point {
        fill: $step4;
        color: $step4;
    }
}

.wf-highcharts-color-notreq, 
.wf-highcharts-color-not-required {
    fill: $step2;
    color: $step2;

    .highcharts-point {
        fill: $step2;
        color: $step2;
    } 
}

.highcharts-color-5,
.wf-highcharts-color-pending,
.wf-highcharts-color-total {
    stroke: $step6;
    fill: $step6;
    color: $step6;

    .highcharts-point {
        stroke: $step6;
        fill: $step6;
    }
}