@import "_variables";

.task-detail-btn {
    padding: 0;
    background: 0 0;
    margin-right: 10px;

    &:hover {
        background: #fff;
    }

    svg {
        width: 25px;
        vertical-align: sub;
    }

    path {
        fill: $umbPurple;
    }
}

.controls h5 {
    margin-top: 0;
}

.control-panel {
    padding: 10px 0;
    margin: 10px 0;
}

.dropdown-menu {
    .warning {
        color: $warning;
    }

    .danger {
        color: $danger;
    }
}

/* colours will be available for all elements in the .workspace namespace */
.pending, .pending-approval {
    color: $umbPurple;
}

.approved {
    color: $success;
}

.cancelled {
    color: $danger;
}

.not-required {
    color: $pending;
}

.rejected, .resubmitted {
    color: $warning;
}

.action-dialog {

    .not-required {
        color: $pending;
    }

    .rejected {
        color: $danger;
    }
}
