@import "_variables";

&-log {
    padding: 0 15px;

    pre {
        max-height: 500px;
    }

    .datepicker {
        max-width:237px; // fixed values aren't good, but YOLO
        margin-left:auto;
        margin-right:auto;
    }

    .button-row {
        margin-bottom: 5px; 
        text-align: center;
    }

    .button-group {
        display: inline-block;
        font-size: 0;
        vertical-align: bottom;

        .error {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .debug, .info {
            border-radius: 0;
        }

        .all {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .btn-pad {
        padding-top: 8px;
        padding-bottom: 6px;
    }

    &.basic {
        .log {
            &-thread, &-class, &-detail {
                display: none;
            }
        }
    }

    .log {
        &-row {
            display: block;
            margin-top: 5px;

            &:first-child {
                margin: 0;
            }
        }

        &-type {
            font-weight: bold;
        }

        &-detail {
            padding-left: 15px;
            display: block;

            + .log-detail {
                padding-left: 30px;
            }
        }
    }

    $states: 'error', 'info', 'debug';
    $colors: $danger, $pending, $warning;

    @for $i from 1 through 3 {
        $s: nth($states, $i);
        $c: nth($colors, $i);

        .#{$s}.log-type {
            color: $c;
        }

        &.#{$s} {
            .log-row:not(.#{$s}),
            .log-detail:not(.#{$s}) {
                display: none;
            }
        }
    }
}
