.workflow {
  /* recolor */
  /* colours will be available for all elements in the .workspace namespace */ }
  .workflow hr {
    clear: both; }
  .workflow label {
    float: left;
    width: 160px; }
  .workflow wf-comments label {
    width: auto;
    float: none; }
  .workflow textarea, .workflow input {
    border: 1px solid #ccc; }
  .workflow textarea {
    width: 386px;
    height: 200px; }
    .workflow textarea.group-description {
      width: auto; }
  .workflow .flow-select {
    margin-bottom: 0; }
  .workflow .umb-box .umb-node-preview {
    min-width: 100%; }
  .workflow .current-flow .last::after {
    content: '(Publisher)';
    display: inline-block;
    padding-left: 5px; }
  .workflow .upgrade {
    margin: 0 15px 30px;
    text-align: center; }
    .workflow .upgrade .btn {
      margin-bottom: 15px;
      line-height: 30px;
      padding-left: 7px; }
      .workflow .upgrade .btn i {
        font-size: 30px;
        vertical-align: middle; }
  .workflow .active-banner {
    display: inline-block;
    margin-right: 10px;
    color: #df7f48; }
    .workflow .active-banner p {
      margin: 0; }
  .workflow .action-dialog textarea, .workflow .action-dialog label {
    width: 100%; }
  .workflow .action-dialog--task-list {
    list-style-type: none;
    margin: 0; }
  .workflow .action-dialog--task-list-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; }
    .workflow .action-dialog--task-list-item:last-child {
      margin-bottom: 0; }
  .workflow .action-dialog .history-tasks {
    padding-left: 7px;
    position: relative; }
    .workflow .action-dialog .history-tasks::before {
      content: '';
      position: absolute;
      width: 2px;
      background: #999;
      height: 100%;
      top: 0;
      left: 0; }
  .workflow .action-dialog .history-task {
    display: flex; }
    .workflow .action-dialog .history-task > div {
      padding-left: 5px; }
    .workflow .action-dialog .history-task-number span {
      font-weight: bold; }
  .workflow .task-detail-btn {
    padding: 0;
    background: 0 0;
    margin-right: 10px; }
    .workflow .task-detail-btn:hover {
      background: #fff; }
    .workflow .task-detail-btn svg {
      width: 25px;
      vertical-align: sub; }
  .workflow.workflow-button-drawer {
    display: flex;
    align-items: center; }
    .workflow.workflow-button-drawer > div {
      margin-left: 5px; }
  .workflow .highcharts-root {
    width: 100%; }
  .workflow .highcharts-container {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .workflow .wf-highcharts-color-approved {
    fill: #53a93f;
    color: #53a93f; }
    .workflow .wf-highcharts-color-approved .highcharts-point {
      fill: #53a93f;
      color: #53a93f; }
  .workflow .wf-highcharts-color-cancelled {
    fill: #ee5f5b;
    color: #ee5f5b; }
    .workflow .wf-highcharts-color-cancelled .highcharts-point {
      fill: #ee5f5b;
      color: #ee5f5b; }
  .workflow .wf-highcharts-color-resubmitted {
    fill: #2e8aea;
    color: #2e8aea; }
    .workflow .wf-highcharts-color-resubmitted .highcharts-point {
      fill: #2e8aea;
      color: #2e8aea; }
  .workflow .wf-highcharts-color-rejected {
    fill: #df7f48;
    color: #df7f48; }
    .workflow .wf-highcharts-color-rejected .highcharts-point {
      fill: #df7f48;
      color: #df7f48; }
  .workflow .wf-highcharts-color-notreq,
  .workflow .wf-highcharts-color-not-required {
    fill: #8085e9;
    color: #8085e9; }
    .workflow .wf-highcharts-color-notreq .highcharts-point,
    .workflow .wf-highcharts-color-not-required .highcharts-point {
      fill: #8085e9;
      color: #8085e9; }
  .workflow .highcharts-color-5,
  .workflow .wf-highcharts-color-total {
    stroke: #666;
    fill: #666; }
    .workflow .highcharts-color-5 .highcharts-point,
    .workflow .wf-highcharts-color-total .highcharts-point {
      stroke: #666;
      fill: #666; }
  .workflow .highcharts-legend-item text {
    font-weight: normal; }
  .workflow .chart-loading {
    opacity: .5;
    transition: all ease-in-out .3s; }
  .workflow .chart-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-transform: uppercase; }
    .workflow .chart-header li {
      flex-basis: 20%;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: column;
      background: #f3f3f5;
      border-radius: 3px;
      padding: 15px 10px;
      text-align: center;
      border: 2px solid transparent;
      height: 100%;
      margin: 0 15px 30px;
      line-height: 1; }
    .workflow .chart-header span {
      font-weight: bold;
      display: block;
      font-size: 3rem; }
  .workflow .chart-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
    .workflow .chart-controls label {
      width: 100px; }
    .workflow .chart-controls .umb-property {
      flex: 0;
      margin: 0 15px;
      display: flex; }
    .workflow .chart-controls .umb-el-wrap {
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center; }
    .workflow .chart-controls .control-group {
      padding: 15px;
      border: 1px solid #f3f3f3;
      margin: 0 !important; }
    .workflow .chart-controls input, .workflow .chart-controls label, .workflow .chart-controls select {
      margin-bottom: 0; }
    .workflow .chart-controls .controls-row {
      margin-left: 0;
      padding: 0; }
  .workflow .wf-highcharts-color-approved {
    fill: #00aea2;
    color: #00aea2; }
    .workflow .wf-highcharts-color-approved .highcharts-point {
      fill: #00aea2;
      color: #00aea2; }
  .workflow .wf-highcharts-color-cancelled {
    fill: #434d67;
    color: #434d67; }
    .workflow .wf-highcharts-color-cancelled .highcharts-point {
      fill: #434d67;
      color: #434d67; }
  .workflow .wf-highcharts-color-resubmitted {
    fill: #3c7d84;
    color: #3c7d84; }
    .workflow .wf-highcharts-color-resubmitted .highcharts-point {
      fill: #3c7d84;
      color: #3c7d84; }
  .workflow .wf-highcharts-color-rejected {
    fill: #426576;
    color: #426576; }
    .workflow .wf-highcharts-color-rejected .highcharts-point {
      fill: #426576;
      color: #426576; }
  .workflow .wf-highcharts-color-notreq,
  .workflow .wf-highcharts-color-not-required {
    fill: #2e9593;
    color: #2e9593; }
    .workflow .wf-highcharts-color-notreq .highcharts-point,
    .workflow .wf-highcharts-color-not-required .highcharts-point {
      fill: #2e9593;
      color: #2e9593; }
  .workflow .highcharts-color-5,
  .workflow .wf-highcharts-color-pending,
  .workflow .wf-highcharts-color-total {
    stroke: #413659;
    fill: #413659;
    color: #413659; }
    .workflow .highcharts-color-5 .highcharts-point,
    .workflow .wf-highcharts-color-pending .highcharts-point,
    .workflow .wf-highcharts-color-total .highcharts-point {
      stroke: #413659;
      fill: #413659; }
  .workflow .umb-table-cell ul {
    margin: 0; }
  .workflow .umb-table-cell.show-overflow, .workflow .umb-table-cell.show-overflow > * {
    overflow: visible; }
  .workflow .controls h5 {
    margin-top: 0; }
  .workflow .control-panel {
    padding: 10px 0;
    margin: 10px 0; }
  .workflow .dropdown-menu .warning {
    color: #df7f48; }
  .workflow .dropdown-menu .danger {
    color: #ee5f5b; }
  .workflow .table-row-outer .umb-table-row:not(:first-child) {
    border-top: none; }
    .workflow .table-row-outer .umb-table-row:not(:first-child) i {
      opacity: 0; }
  .workflow .umb-table__input[type=checkbox] {
    opacity: 0;
    cursor: default; }
  .workflow .umb-table-body__icon.soft {
    opacity: .25; }
  .workflow .pending {
    color: #2e8aea; }
    .workflow .pending .umb-table-body__icon {
      color: #2e8aea; }
  .workflow .approved {
    color: #53a93f; }
  .workflow .cancelled {
    color: #ee5f5b; }
  .workflow .rejected, .workflow .resubmitted {
    color: #df7f48; }
    .workflow .rejected i, .workflow .rejected a, .workflow .resubmitted i, .workflow .resubmitted a {
      color: #df7f48; }
  .workflow .action-dialog .not-required {
    color: #2e8aea; }
  .workflow .action-dialog .rejected {
    color: #ee5f5b; }
  .workflow .workflow-progress {
    padding: 10px;
    border-top: 1px solid #d9d9d9;
    display: flex;
    position: relative; }
  .workflow .progress-step {
    text-align: center;
    position: relative; }
    .workflow .progress-step::before, .workflow .progress-step::after {
      content: '';
      width: 50%;
      height: 1px;
      position: absolute;
      top: 6px;
      background: #d9d9d9; }
    .workflow .progress-step::before {
      left: 0; }
    .workflow .progress-step::after {
      right: 0; }
    .workflow .progress-step.done .tooltip-done {
      display: block; }
    .workflow .progress-step.done::before, .workflow .progress-step.done::after, .workflow .progress-step.done .marker, .workflow .progress-step.done .tooltip::after {
      background: #00aea2; }
    .workflow .progress-step.done .tooltip {
      border-color: #00aea2;
      color: #00aea2; }
    .workflow .progress-step.current .tooltip-current {
      display: block; }
    .workflow .progress-step.current .marker, .workflow .progress-step.current .tooltip::after {
      background: #413659; }
    .workflow .progress-step.current::before {
      background: linear-gradient(90deg, #00aea2, #413659); }
    .workflow .progress-step.current::after {
      background: linear-gradient(90deg, #413659, #d9d9d9); }
    .workflow .progress-step.current .tooltip {
      border-color: #413659;
      color: #413659; }
    .workflow .progress-step.rejected .tooltip-current {
      display: none; }
    .workflow .progress-step.rejected .tooltip-rejected {
      display: block; }
    .workflow .progress-step.rejected .marker, .workflow .progress-step.rejected .tooltip::after {
      background: #df7f48; }
    .workflow .progress-step.rejected::before {
      background: linear-gradient(90deg, #00aea2, #df7f48); }
    .workflow .progress-step.rejected::after {
      background: linear-gradient(90deg, #df7f48, #d9d9d9); }
    .workflow .progress-step.rejected .tooltip {
      border-color: #df7f48;
      color: #df7f48; }
  .workflow .marker {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 auto;
    background: #d9d9d9;
    position: relative;
    cursor: pointer; }
    .workflow .marker:hover + .tooltip {
      display: block;
      bottom: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      opacity: 1; }
    .workflow .marker + .tooltip {
      display: none;
      background: #f8f8f8;
      padding: 5px;
      color: #817f85;
      border: 1px solid #d9d9d9; }
      .workflow .marker + .tooltip::after {
        content: '';
        width: 1px;
        height: 10px;
        background: #d9d9d9;
        position: absolute;
        top: 100%;
        left: calc(50% - 1px); }
      .workflow .marker + .tooltip span {
        display: none; }
  .workflow h1.title {
    font-size: 30px;
    color: #363636;
    line-height: 1.3em;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: bold; }
  .workflow .dash-inner-area {
    margin: 10px 0px;
    padding: 10px; }
    .workflow .dash-inner-area .btn {
      text-decoration: none; }
  .workflow .intro-text {
    font-size: 18px;
    color: #666666;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em; }
    .workflow .intro-text + .intro-text {
      margin-top: 15px; }
    .workflow .intro-text .btn {
      padding-left: 7px; }
    .workflow .intro-text svg {
      vertical-align: middle;
      margin-right: 5px; }
  .workflow-docs .umb-editor-sub-header {
    margin: 0; }
  .workflow-docs .umb-healthcheck-group__details-check-description {
    font-size: 15px; }
    .workflow-docs .umb-healthcheck-group__details-check-description > :last-child {
      margin-bottom: 0; }
  .workflow .umb-healthcheck {
    justify-content: center; }
  .workflow-log {
    padding: 0 15px; }
    .workflow-log pre {
      max-height: 500px; }
    .workflow-log .datepicker {
      margin-bottom: 0;
      margin-right: 10px; }
    .workflow-log .button-row {
      margin-bottom: 5px;
      text-align: center; }
    .workflow-log .button-group {
      display: inline-block;
      font-size: 0;
      vertical-align: bottom; }
      .workflow-log .button-group .error {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .workflow-log .button-group .debug, .workflow-log .button-group .info {
        border-radius: 0; }
      .workflow-log .button-group .all {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .workflow-log .btn-pad {
      padding-top: 8px;
      padding-bottom: 6px; }
    .workflow-log.basic .log-thread, .workflow-log.basic .log-class, .workflow-log.basic .log-detail {
      display: none; }
    .workflow-log .log-row {
      display: block;
      margin-top: 5px; }
      .workflow-log .log-row:first-child {
        margin: 0; }
    .workflow-log .log-type {
      font-weight: bold; }
    .workflow-log .log-detail {
      padding-left: 15px;
      display: block; }
      .workflow-log .log-detail + .log-detail {
        padding-left: 30px; }
    .workflow-log .error.log-type {
      color: #ee5f5b; }
    .workflow-log.error .log-row:not(.error),
    .workflow-log.error .log-detail:not(.error) {
      display: none; }
    .workflow-log .info.log-type {
      color: #2e8aea; }
    .workflow-log.info .log-row:not(.info),
    .workflow-log.info .log-detail:not(.info) {
      display: none; }
    .workflow-log .debug.log-type {
      color: #df7f48; }
    .workflow-log.debug .log-row:not(.debug),
    .workflow-log.debug .log-detail:not(.debug) {
      display: none; }

/*# sourceMappingURL=styles.css.map */
