@import "_variables";

@import "../lib/highcharts/highcharts.scss";

.workflow {

    hr {
        clear: both;
    }

    label {
        float: left;
        width: 160px;
    }

    wf-comments label {
        width: auto;
        float: none;
    }

    textarea, input {
        border: 1px solid #ccc;
    }

    textarea {
        width: 386px;
        height: 200px;

        &.group-description {
            width: auto;
        }
    }

    .flow-select {
        margin-bottom: 0;
    }

    .umb-box {
        .umb-node-preview {
            min-width: 100%;
        }

        .umb-property:last-child .umb-control-group {
            margin-bottom: 0;
        }
    }

    .current-flow {
        margin: 0;

        .umb-node-preview {
            max-width: 100%;
            border-bottom-color: #f3f3f5;

            &__action {
                cursor: pointer;
            }
        }
    }

    .upgrade {
        margin: 0 15px 30px;
        text-align: center;
        border-radius: 3px;

        &-current p {
            margin-bottom:0;
        }

        .btn {
            margin-bottom: 15px;
            line-height: 30px;
            padding-left: 7px;

            i {
                font-size: 30px;
                vertical-align: middle;
            }
        }
    }

    .active-banner {
        display: inline-block;
        margin-right: 10px;
        color: $warning;

        p {
            margin: 0;
        }
    }

    .action-dialog {

        textarea, label {
            width: 100%;
        }

        &--task-list {
            list-style-type: none;
            margin: 0;
        }

        &--task-list-item {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .history-tasks {
            padding-left: 7px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 2px;
                background: #999;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        .history-task {
            display: flex;

            > div {
                padding-left: 5px;
            }

            &-number {
                span {
                    font-weight: bold;
                }
            }
        }
    }

    .task-detail-btn {
        padding: 0;
        background: 0 0;
        margin-right: 10px;

        &:hover {
            background: #fff;
        }

        svg {
            width: 25px;
            vertical-align: sub;
        }
    }
    
    &-settings  {
        .umb-node-preview, .umb-node-preview-add {
            max-width:none;
        }
    }

    &.workflow-button-drawer {
        display: flex;
        align-items: center;

        > div {
            margin-left: 5px;
        } 
    }

    .no-sub-button .umb-button__button {
        border-radius:3px;
    } 

    // import scss partials
    @import "highcharts"; 
    @import "listview";
    @import "workflow-progress";
    @import "docs-dashboard";
    @import "log";
    @import "importexport";
}
