@import "_variables";
@import "highcharts";

.workflow {
    
    hr {
        clear:both;
    }

    label {
        float:left;
        width:160px;
    }

    wf-comments label {
        width:auto;
    }

    textarea, input {
        border:1px solid #ccc;
    }

    textarea {
        width:386px;
        height:200px;

        &.group-description {
            width:auto;
        }
    }

    &.umb-panel .umb-nav-tabs {
        margin:15px auto;
        position:relative;
    }

    .flow-select {
        margin-bottom:0;
    }    

    .umb-box {
        .umb-node-preview {
            min-width:100%;
        }
    }

    .current-flow .last {
        &::after {
            content: '(Publisher)';
            display: inline-block;
            padding-left:5px;
        }
    }

    // listview
    .umb-table-cell {
        ul {
            margin:0;
        }

        &.show-overflow, &.show-overflow > * {
            overflow:visible;
        }
    }
    
    .controls {
        h5 {
            margin-top:0;
        }
    }

    .control-panel {
        padding:10px 0;
        margin:10px 0;
    }

    // progress bar
    .workflow-progress {
        margin:0 10px 10px;
        padding-top:10px;
        border-top:1px solid #d9d9d9;
        display:flex;
        position:relative;
    }

    .progress-step {
        text-align:center;
        position:relative;

        &::before, &::after {
            content:'';
            width:50%;
            height:1px;
            position:absolute;
            top:6px;
            background:#d9d9d9;
        }

        &::before {
            left:0;
        }

        &::after {
            right:0;
        }

        &.done {
            .tooltip-done {
                display:block;
            }
            &::before, &::after, .marker, .tooltip::after {
                background:$success;
            }
            .tooltip {
                border-color:$success;
            }
        }

        &.current {
            .tooltip-current {
                display:block;
            }
            .marker, .tooltip::after {
                background:$pending;
            }
            &::before {
                background:linear-gradient(90deg, $success, $pending);
            }
            &::after {
                background:linear-gradient(90deg, $pending, #d9d9d9);
            }
            .tooltip {
                border-color:$pending;
            }
        }
    }

    .marker {
        display:block;
        width:15px;
        height:15px;
        border-radius:50%;
        margin:0 auto;
        background:#d9d9d9;            
        position:relative;
        cursor:pointer;

        &:hover + .tooltip {
            display:block;
            bottom:calc(100% + 5px);
            left: 50%;
            transform: translateX(-50%);
            opacity: 1;             
        }        

        + .tooltip {
            display:none;
            background: #f8f8f8;
            padding: 5px;
            border:1px solid #d9d9d9;   

            &::after {
                content:'';
                width:1px;
                height:10px;
                background:#d9d9d9;
                position: absolute;
                top: 100%;
                left: calc(50% - 1px);
            }

            span {
                display:none;
            }
        }
    }

    .dropdown-menu {
        .warning {
            color:$warning;
        }
        .danger {
            color:$danger;
        }
    }

    // history - nested tasks for instance
    .workflow-nested {
        margin:10px;
        padding-top:10px;
        border-top:1px solid #d9d9d9;
        display:flex;
        position:relative;
    }

    .umb-table__input[type=checkbox] {
        opacity:0;
        cursor:default;
    }

    .umb-table-body__icon.soft {
        opacity:.25;
    }
        
    .pending {
        color:$pending;        
        background:rgba($pending, .05);
        .umb-table-body__icon {
            color:$pending;
            background:0, 0;
        }
    }        
    .approved {
        color:$success;
        background:rgba($success, .05);
        .umb-table-body__icon {
            color:$success;
            background:0, 0;
        }
    }
    .cancelled {
        color:$danger;
        background:rgba($danger, .05);
        .umb-table-body__icon {
            color:$danger;
            background:0, 0;
        }
    }

    .chart-header {
        list-style-type:none;
        margin:0;
        padding:0;
        display:flex;

        li {
            flex:1;
            text-align:center;
            text-transform:uppercase;
        }

        span {
            font-weight:bold;
            display:block;
        }
    }

    .chart-controls {
        display:flex;

        label {
            width:100px;
        }

        .controls-row {
            margin-left:130px;
        }

        .umb-property {
            flex:1;
        }
    }


    .active-banner {
        display:inline-block;
        margin-right:10px;
        color:$warning;
    }

    // docs dashboard - mimic Umbraco get started content
    h1.title {
        font-size: 30px;
        color: #363636;
        line-height: 1.3em;
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .dash-inner-area {
        margin: 10px 0px;
        padding: 10px;
    }

    .intro-text {
        font-size: 18px;
        color: #666666;
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6em;
    }
}