@import "_variables";

.workflow {

    hr {
        clear: both;
    }

    label {
        float: left; 
        width: 160px; 
    }

    wf-comments label {
        width: auto;
    }

    textarea, input {
        border: 1px solid #ccc;
    }

    textarea {
        width: 386px;
        height: 200px;

        &.group-description {
            width: auto;
        }
    }

    .flow-select {
        margin-bottom: 0;
    }

    .umb-box {
        .umb-node-preview {
            min-width: 100%;
        }
    }

    .current-flow .last {
        &::after {
            content: '(Publisher)';
            display: inline-block;
            padding-left: 5px;
        }
    }
    

    .upgrade {
        margin: 0 15px 30px;
        text-align: center;

        .btn {
            margin-bottom: 15px;
            line-height: 30px;
            padding-left: 7px;

            i {
                font-size: 30px;
                vertical-align: middle;
            }
        }
    }    

    .active-banner {
        display: inline-block;
        margin-right: 10px;
        color: $warning;
    }

    // import scss partials
    @import "highcharts";
    @import "listview";
    @import "workflow-progress";
    @import "docs-dashboard";
}