@import "_variables";

@import "../lib/highcharts/highcharts.scss";

// modify the icon on default listviews when the node is active
.active-workflow .umb-table-cell:first-child::before {
    font-size: 16px;
    padding-left: 9px;
    padding-top: 0px;
    content: '\e117';
}

.workflow { 
    color: #303033;

    hr {
        clear: both;
    }

    label {
        float: left;
        width: 160px;
    }

    wf-comments label {
        width: auto;
        float: none;
    }

    textarea, input {
        border: 1px solid #ccc;
    }

    textarea {
        width: 386px;
        height: 200px;

        &.group-description {
            width: auto;
        }
    }

    .publish {
        color: $umbGreen;
    }

    .unpublish {
        color: $umbraco;
    }

    .badge {
        border-radius: 2px;
        background: $umbGreen;
        font-weight: 400;
        transform: translateY(-2px);
        text-shadow: none;
    }

    h6.badge {
        display: block;
        text-align: center;
        padding: 4px 9px;
    }

    .umb-box {
        .umb-node-preview {
            min-width: 100%;
        }

        .umb-property:last-child .umb-control-group {
            margin-bottom: 0;
        }
    }

    .current-flow {
        margin: 0;

        .umb-node-preview {
            max-width: 100%;
            border-bottom-color: #f3f3f5;

            &__action {
                cursor: pointer;
            }
        }
    }

    .upgrade {
        margin: 0 15px 30px;
        text-align: center;
        border-radius: 3px;

        &-current p {
            margin-bottom: 0;
        }

        .btn {
            margin-bottom: 15px;
            line-height: 30px;
            padding-left: 7px;

            i {
                font-size: 30px;
                vertical-align: middle;
            }
        }
    }

    .active-banner {
        display: inline-block;
        margin-right: 10px;
        color: $warning;

        p {
            margin: 0;
        }
    }

    .action-dialog {

        textarea, label {
            width: 100%;
        }

        &--task-list {
            list-style-type: none;
            margin: 0;
        }

        &--task-list-item {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .history-tasks {
            padding-left: 7px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 2px;
                background: #999;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        .history-task {
            display: flex;

            > div {
                padding-left: 5px;
            }

            &-number {
                span {
                    font-weight: bold;
                }
            }
        }
    }

    &-settings {
        .umb-node-preview, .umb-node-preview-add {
            max-width: none;
        }
    }

    &-history {
        .umb-editor-sub-header,
        .chart-controls.umb-property {
            margin-bottom: 0;
        }
    }

    &.workflow-button-drawer {
        display: flex;
        align-items: center;

        > div {
            margin-left: 5px;
        }
    }

    .no-sub-button .umb-button__button {
        border-radius: 3px;
    }
    // mimics the styles from umb-forms conditions because they are slick
    .conditional-group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-right:10px;
    }

    .fancy-select {
        flex: 0 1 25%;
        margin:0 5px;
        position:relative;

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            min-width: 70px;
            border: none;
            margin-right: 5px;
            font-size: 14px;
            text-align: left;
            line-height: 1.3;
            display: inline-block;
            background: #f3fdfc;
            border: 1px solid #03bfb3;
            border-radius: 3px;
            height: 30px;
        }

        &::after {
            position: absolute;
            right: 10px;
            top: 50%;
            z-index: 4;
            content: '';
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            border-color: #68676b transparent transparent transparent;
            transform: translate(0,-50%);
            pointer-events: none;
        }
    }
    // import scss partials
    @import "highcharts";
    @import "listview";
    @import "workflow-progress";
    @import "docs-dashboard";
    @import "log";
    @import "importexport";
}
