@import "_variables";

$grey: #d9d9d9;

// progress bar for the tasks dashboard
.workflow-progress {
    padding: 10px;
    border-top: 1px solid rgba($grey, .25);
    display: flex;
    position: relative;   
}

.umb-table-row:hover ~ .workflow-progress {
    background: #f3f3f5;
    border-top-color: #f3f3f5;
}

.table-cell--narrow {
    flex:0 0 50px;
}

.progress-step {
    text-align: center;
    position: relative;

    &:last-child {
        &::after {
            width: 50%;
        }
    }

    &::before, &::after {
        content: '';
        width: 50%;
        height: 1px;
        position: absolute;
        top: 6px;
        background: $grey;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
        z-index: 1040;
        width: 100%;
        left: 50%;
    }

    &.done {
        .marker {
            background: $umbGreen;
        }

        &::before, &::after {
            background: $umbGreen;
        }

        .icon-::before {
            content: '\e165';
        }
    }

    &.current {
        .icon-::before {
            content: '\e116';
        }
    }

    &.rejected {
        .icon-::before {
            content: '\e1a4';
        }
    }

    $states: 'done', 'notrequired', 'cancelled', 'current', 'rejected', 'resubmitted';
    $colors: $umbGreen, $pending, $danger, $umbPurple, $warning, $warning;
    $count: 6;

    @for $i from 1 through $count {

        $state: nth($states, $i);
        $color: nth($colors, $i);

        &.#{$state} {
            .tooltip-#{$state} { 
                display: block;
            }

            &:first-child::before, &:last-child::after, .marker, .tooltip::after {
                background: $color;
            }

            .tooltip {
                border-color: $color;
                color: $color;
            }
        }
    }
}

.pendingapproval {
    .done::after {
        background: linear-gradient(90deg, $umbGreen, $umbPurple);
    }

    .current {
        .marker {
            background: $umbPurple;
        }
        &::after {
            background: linear-gradient(90deg, $umbPurple, $grey);
        }
    }
}

.rejected {
    .done::after {
        background: linear-gradient(90deg, $umbGreen, $warning);
    }

    .current {
        .marker {
            background: $warning;
        }

        .tooltip {
            border-color: $warning;
            color: $warning;
        }

        &::after {
            background: linear-gradient(90deg, $warning, $grey);
        }
    }
} 

.marker {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 auto;
    background: $grey;
    position: relative;
    cursor: pointer;
    z-index: 1050;

    &:hover + .tooltip {
        display: block;
        bottom: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }

    [class^=icon-] {
        width: 15px;
        height: 12px;
        position: absolute;
        top: -2px;
        left: 0px;
        z-index: 1050;
        color: #fff;
        font-size: 10px;
    }

    + .tooltip {
        display: none;
        background: #f8f8f8;
        padding: 5px;
        color: #817f85;
        border: 1px solid $grey;

        > span {
            text-transform: uppercase;
        }

        &::after {
            content: '';
            width: 1px;
            height: 10px;
            background: $grey;
            position: absolute;
            top: 100%;
            left: calc(50% - 1px);
        }

        span {
            display: none;
        }
    }
}
