@import "_variables";

// progress bar for the tasks dashboard
.workflow-progress {
    padding: 10px;
    border-top: 1px solid rgba(#d9d9d9, .25);
    display: flex;
    position: relative;
}

.umb-table-row:hover ~ .workflow-progress {
    background: #f3f3f5;
    border-top-color: #f3f3f5;
}

.table-cell--narrow {
    flex:0 0 50px;
}

.progress-step {
    text-align: center;
    position: relative;

    &::before, &::after {
        content: '';
        width: 50%;
        height: 1px;
        position: absolute;
        top: 6px;
        background: #d9d9d9;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    $states: 'done', 'notrequired', 'cancelled', 'current', 'rejected', 'resubmitted';
    $colors: $umbGreen, $pending, $danger, $umbPurple, $warning, $warning;
    $count: 6;

    @for $i from 1 through $count {

        $state: nth($states, $i);
        $color: nth($colors, $i);

        &.#{$state} {
            .tooltip-#{$state} {
                display: block;
            }

            .marker, .tooltip::after {
                background: $color;
            }

            .tooltip {
                border-color: $color;
                color: $color;
            }

            &::before {
                background: linear-gradient(90deg, #d9d9d9, $color);
            }

            &::after {
                background: linear-gradient(90deg, $color, #d9d9d9);
            }
        }
    }    
}

.marker {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 auto;
    background: #d9d9d9;
    position: relative;
    cursor: pointer;

    &:hover + .tooltip {
        display: block;
        bottom: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }

    + .tooltip {
        display: none;
        background: #f8f8f8;
        padding: 5px;
        color: #817f85;
        border: 1px solid #d9d9d9;

        > span {
            text-transform:uppercase;
        }

        &::after {
            content: '';
            width: 1px;
            height: 10px;
            background: #d9d9d9;
            position: absolute;
            top: 100%;
            left: calc(50% - 1px);
        }

        span {
            display: none;
        }
    }
}
