<div class="umb-pane" ng-controller="Workflow.SendToPublish.Controller as vm">
    <div class="umb-dialog-body with-footer">
        <div class="umb-pane">
            <h5>Send to publish</h5>
            <div ng-show="vm.active">
                <p ng-bind="vm.statusMsg"></p>
            </div>
            <div ng-show="!vm.active">
                <p>Please add a brief comment describing the changes.</p>
                <textarea ng-model="vm.comment"></textarea>
            </div>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <a href="" class="btn btn-link" ng-click="nav.hideDialog()"><localize key="general_cancel">Cancel</localize></a>
        <a href="" class="btn btn-primary" ng-click="vm.ok()" ng-disabled="!vm.comment.length"><localize key="general_ok">OK</localize></a>
    </div>
</div>