<div class="umb-table-row {{ item.cssStatus }}">
    <div class="umb-table-cell">
        <i class="umb-table-body__icon icon-document"></i>
    </div>
    <div class="umb-table-cell" ng-if="groupHistoryView">
        <a href="#" ng-href="/umbraco/dialogs/preview.aspx?id={{ item.nodeId }}" title="{{ item.nodeName }}" ng-bind="item.nodeName" target="_blank"></a>
    </div>
    <div class="umb-table-cell">
        <span ng-bind="item.type"></span>
    </div>
    <div class="umb-table-cell">
        <span ng-bind="item.requestedBy"></span>
    </div>
    <div class="umb-table-cell">
        {{ item.requestedOn }}
    </div>
    <div class="umb-table-cell">
        {{ item.status }}
    </div>
    <div class="umb-table-cell">
        {{ item.comments }}
    </div>
    <div class="umb-table-cell">
        {{ item.approvalGroup }}
    </div>
</div>