<div class="table-row-outer">
    <div class="umb-table-row" ng-repeat="task in item.Tasks" ng-class="{'approved': task.Status === 'Approved', 'cancelled': item.Status === 'Cancelled', 'pending' : item.Status === 'Pending Approval' }">
        <div class="umb-table-cell">
            <i class="umb-table-body__icon icon-document" ng-class="{'soft' : !$first}"></i>
        </div>
        <div class="umb-table-cell">
            <a ng-if="$first" href="#" ng-href="/umbraco/dialogs/preview.aspx?id={{item.NodeId}}" ng-bind="item.NodeName" target="_blank"></a>
        </div>
        <div class="umb-table-cell">
            <span ng-if="$first" ng-bind="item.Type"></span>
        </div>
        <div class="umb-table-cell">
            <span ng-if="$first" ng-bind="item.RequestedBy"></span>
        </div>
        <div class="umb-table-cell">
            {{ task.RequestedOn }}
        </div>
        <div class="umb-table-cell">
            {{ task.Status }}
        </div>
        <div class="umb-table-cell">
            {{ task.Comments }}
        </div>
        <div class="umb-table-cell">
            {{ task.ApprovalGroup }}
        </div>
    </div>
</div>