<form class="form-horizontal workflow" novalidate ng-controller="Workflow.Groups.Edit.Controller">
    <umb-editor-view>
        <umb-editor-header name="name"
                           name-locked="true"
                           hide-alias="true"
                           hide-description="true"
                           hide-icon="true">
        </umb-editor-header>
        <umb-editor-container>
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label for="groupName" class="control-label">Name</label>
                    <div class="controls controls-row">
                        <input type="text" ng-model="group.name" name="groupName" />
                    </div>
                </div>
                <div class="umb-el-wrap">
                    <label for="groupAlias" class="control-label">Alias</label>
                    <div class="controls controls-row">
                        <input type="text" ng-model="group.alias" name="groupAlias" disabled />
                    </div>
                </div>
                <div class="umb-el-wrap">
                    <label for="groupEmail" class="control-label">Email</label>
                    <div class="controls controls-row">
                        <input type="email" ng-model="group.groupEmail" name="groupEmail" />
                    </div>
                </div>
                <div class="umb-el-wrap">
                    <label for="groupDescription" class="control-label">Description</label>
                    <div class="controls controls-row">
                        <textarea name="groupDescription" rows="3" cols="20" ng-model="group.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="umb-control-group user-lists">
                <div class="umb-el-wrap">
                    <label class="control-label">Membership</label>
                    <div class="controls controls-row">
                        <div class="user-list">
                            <h5>All users</h5>
                            <input type="text" ng-model="addUserFilter" placeholder="Search" />
                            <ul class="user-list">
                                <li ng-repeat="u in notInGroup | orderBy: 'name' | filter:{name:addUserFilter}" ng-click="add(u.id)" title="Add {{u.name}} to {{group.name}}">{{u.name}}</li>
                            </ul>
                        </div>
                        <div class="user-list">
                            <h5>Current members</h5>
                            <input type="text" ng-model="removeUserFilter" placeholder="Search" />
                            <ul>
                                <li ng-repeat="u in group.users | orderBy: 'name' | filter:{Name:removeUserFilter}" ng-click="remove(u.userId)" title="Remove {{u.name}} from {{group.name}}">{{u.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="umb-control-group permissions" ng-if="$routeParams.id !== '-1' && group.permissions.length">
                <div class="umb-el-wrap">
                    <label class="control-label">Node approval flows</label>
                    <div class="controls controls-row">
                        <ul class="permissions-list">
                            <li ng-repeat="p in group.permissions" ng-show="p.nodeName.length">
                                <a ng-if="p.nodeName" ng-href="#/content/content/edit/{{ p.nodeId }}" title="Edit node: {{ p.nodeName }}">{{ p.nodeName}} (stage: {{ p.permission + 1 }})</a>
                            </li>
                        </ul>
                    </div>
                </div>
 
                <div class="umb-el-wrap">
                    <label class="control-label">Content-type approval flows</label>
                    <div class="controls controls-row">
                        <ul class="permissions-list">
                            <li ng-repeat="p in group.permissions" ng-show="p.contentTypeName.length">
                                <a ng-if="p.contentTypeName" ng-href="#/settings/documentTypes/edit/{{ p.contentTypeId }}" title="Edit content type: {{ p.contentTypeName }}">{{ p.contentTypeName }} (stage: {{ p.Permission + 1 }})</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button action="saveGroup()"
                            type="button"
                            button-style="success"
                            shortcut="ctrl+s"
                            label="Save group">
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>