<form class="form-horizontal workflow" name="approvalGroupForm" novalidate val-form-manager ng-controller="Workflow.Groups.Edit.Controller as vm">
    <umb-editor-view umb-tabs>
        <umb-editor-header name="vm.name"
                           name-locked="true"
                           tabs="vm.tabs"
                           hide-alias="true"
                           hide-description="true"
                           hide-icon="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-tabs-content view="true">
                <umb-tab id="tab{{tab.id}}" ng-repeat="tab in vm.tabs" rel="{{tab.id}}">

                    <div ng-if="tab.alias === 'tab0'">
                        <div class="umb-control-group">
                            <div class="umb-el-wrap">
                                <label for="groupName" class="control-label">Name</label>
                                <div class="controls controls-row">
                                    <input type="text" ng-model="vm.group.name" name="groupName" disabled />
                                </div>
                            </div>
                            <div class="umb-el-wrap">
                                <label for="groupAlias" class="control-label">Alias</label>
                                <div class="controls controls-row">
                                    <input type="text" ng-model="vm.group.alias" name="groupAlias" disabled />
                                </div>
                            </div>
                            <div class="umb-el-wrap">
                                <label for="groupEmail" class="control-label">Email</label>
                                <div class="controls controls-row">
                                    <input type="email" ng-model="vm.group.groupEmail" name="groupEmail" />
                                </div>
                            </div>
                            <div class="umb-el-wrap">
                                <label for="groupDescription" class="control-label">Description</label>
                                <div class="controls controls-row">
                                    <textarea name="groupDescription" rows="3" cols="20" ng-model="vm.group.description"></textarea>
                                </div>
                            </div>
                        </div>
                        <umb-control-group label="@workflow_membership" class="user-lists">
                            <div class="user-list">
                                <h5>All users</h5>
                                <input type="text" ng-model="addUserFilter" placeholder="Search" />
                                <ul class="user-list">
                                    <li ng-repeat="u in vm.notInGroup | orderBy: 'name' | filter:{name:addUserFilter}" ng-click="vm.add(u.id)" title="Add {{u.name}} to {{vm.group.name}}">{{u.name}}</li>
                                </ul>
                            </div>
                            <div class="user-list">
                                <h5>Current members</h5>
                                <input type="text" ng-model="removeUserFilter" placeholder="Search" />
                                <ul>
                                    <li ng-repeat="u in vm.group.users | orderBy: 'name' | filter:{Name:removeUserFilter}" ng-click="vm.remove(u.userId)" title="Remove {{u.name}} from {{vm.group.name}}">{{u.name}}</li>
                                </ul>
                            </div>
                        </umb-control-group>
                        <umb-control-group label="@workflow_nodeApprovalFlows" ng-if="$routeParams.id !== '-1' && vm.group.permissions.length">
                            <ul>
                                <li ng-repeat="p in vm.group.permissions" ng-show="p.nodeName.length">
                                    <a ng-if="p.nodeName" ng-href="#/content/content/edit/{{ p.nodeId }}" title="Edit node: {{ p.nodeName }}">{{ p.nodeName}} (stage: {{ p.permission + 1 }})</a>
                                </li>
                            </ul>
                        </umb-control-group>
                        <umb-control-group label="@workflow_documentFlows" ng-if="$routeParams.id !== '-1' && group.permissions.length">
                            <ul>
                                <li ng-repeat="p in vm.group.permissions" ng-show="p.contentTypeName.length">
                                    <a ng-if="p.contentTypeName" ng-href="#/settings/documentTypes/edit/{{ p.contentTypeId }}" title="Edit content type: {{ p.contentTypeName }}">{{ p.contentTypeName }} (stage: {{ p.Permission + 1 }})</a>
                                </li>
                            </ul>
                        </umb-control-group>
                    </div>
                    <div ng-if="tab.alias === 'tab1'">
                        <umb-editor-sub-header>
                            <umb-editor-sub-header-content-right>
                                <label for="per-page">Items per page</label>
                                <select name="per-page" ng-model="vm.pagination.perPage" ng-options="n for n in vm.perPage()" ng-change="vm.pagination.goToPage(1)"></select>
                            </umb-editor-sub-header-content-right>
                        </umb-editor-sub-header>
              
                        <wf-history items="vm.tasks" instance-view="false"></wf-history>

                        <div class="flex justify-center">
                            <umb-pagination ng-if="vm.pagination.totalPages > 1"
                                            page-number="vm.pagination.pageNumber"
                                            total-pages="vm.pagination.totalPages"
                                            on-next="vm.pagination.goToPage"
                                            on-prev="vm.pagination.goToPage"
                                            on-go-to-page="vm.pagination.goToPage">
                            </umb-pagination>
                        </div>
                    </div>
                </umb-tab>
            </umb-tabs-content>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button action="vm.save()"
                            type="button"
                            button-style="success"
                            shortcut="ctrl+s"
                            label="Save group">
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>