<div ng-controller="Workflow.Settings.Controller as vm">
    <form class="form-horizontal">
        <umb-editor-view footer="true">
            <umb-editor-header name="vm.name"
                               name-locked="true"
                               tabs=""
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>
            <umb-editor-container>
                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <label class="control-label" for="Final approvers" ng-attr-title="finalApprovers">
                            Final approval group
                        </label>
                        <div class="controls">
                            <select ng-model="vm.finalApprover" ng-options="g.Name for g in vm.groups" name="Final approvers">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <label class="control-label">Fast-track document types</label>
                        <div class="controls">
                            <div class="user-list">
                                <h5>All document types</h5>
                                <input type="text" ng-model="addUserFilter" placeholder="Search" />
                                <ul class="user-list">
                                    <li ng-repeat="d in vm.notFastTrack track by $index | orderBy: 'd' | filter:{d:addUserFilter}" ng-click="vm.add(d)" title="Add {{ d }} to fast-track">{{ d }}</li>
                                </ul>
                            </div>
                            <div class="user-list">
                                <h5>Fast-track document types</h5>
                                <input type="text" ng-model="removeUserFilter" placeholder="Search" />
                                <ul>
                                    <li ng-repeat="d in vm.fastTrack track by $index | orderBy: 'd' | filter:{d:removeUserFilter}" ng-click="vm.remove(d)" title="Remove {{ d }} from fast-tracl">{{ d }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <label class="control-label">Workflow email</label>
                        <div class="controls">
                            <input type="email" ng-model="vm.settings.Email" />
                        </div>
                    </div>
                </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <label class="control-label">Base site URL</label>
                        <div class="controls">
                            <input type="text" ng-model="vm.settings.SiteUrl" />
                        </div>
                    </div>
                    </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <label class="control-label">Edit site URL</label>
                        <div class="controls">
                            <input type="text" ng-model="vm.settings.EditUrl" />
                        </div>
                    </div>
                </div>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <button class="btn btn-success" ng-click="vm.save()">Save</button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
