<div class="workflow-action-dialog umb-overlay umb-overlay-right" ng-controller="Workflow.Approve.Controller">
    <div class="umb-overlay__form">
        <div class="umb-overlay-header">
            <h4 class="umb-overlay__title">Approve workflow task - {{ dialogData.NodeName }}</h4>
        </div>
        <div class="umb-overlay-container">
            <p>Edited by {{ dialogData.RequestedBy }} on {{ dialogData.RequestedOn }}</p>
            <p><i>"{{ dialogData.Comments }}"</i></p>   
            <wf-comments limit="250"
                         label-text="'Comments'"
                         comment="approvalComment"
                         is-final-approval="isFinalApproval"
                         disabled="disabled">
            </wf-comments>
        </div>
        <div class="umb-overlay-drawer">
            <div class="umb-overlay-drawer__align-right">
                <button ng-click="close()" data-hotkey="ctrl+x" class="btn btn-link">
                    Cancel
                </button>
                <button ng-click="approve()" data-hotkey="ctrl+s" class="btn btn-primary" ng-disabled="disabled">
                    Approve
                </button>
                <div ng-show="showLoader" class="umb-loader"><div></div></div>
            </div>
        </div>
    </div>
</div>