<div class="workflow-action-dialog umb-overlay umb-overlay-right" ng-controller="Workflow.Cancel.Controller">
    <div class="umb-overlay-header">
        <h4>Cancel workflow task</h4>
        <h5>Document: {{ dialogData.NodeName }}</h5>
    </div>
    <div class="umb-overlay-container">        

        <wf-comments intro="approvalIntro"
                      limit="limit"
                      label-text="'Comments'"
                      comment="approvalComment"
                      is-final-approval="isFinalApproval"
                      disabled="disabled"></wf-comments>            
    </div>
    <div class="umb-overlay-drawer">
        <div class="umb-overlay-drawer__align-right">
            <a href="" class="btn btn-link" ng-click="close()"><localize key="general_cancel">Cancel</localize></a>
            <a href="" class="btn btn-primary" ng-click="approve()"><localize key="general_ok">OK</localize></a>      
        </div>
    </div>
</div>