<div class="umb-panel workflow">
    <div class="umb-dashboard" ng-controller="Workflow.AdminDashboard.Controller as vm">
        <umb-editor-view footer="false">
            <umb-editor-container>           
                
                <div class="upgrade alert alert-info" ng-if="vm.version.outOfDate">
                    <button type="button" class="close" title="I don't care about cool new features" data-dismiss="alert" ng-click="vm.updateAlertHidden()">&times;</button>
                    <h3>You're missing out! Plumber is out of date ({{ vm.version.currentVersion }}).</h3>
                    <a class="btn btn-info" href="{{ vm.version.packageUrl }}">Download the latest release ({{ vm.version.latestVersion }})</a>
                    <p>Release notes: {{ vm.version.releaseNotes }}</p>
                    <p>Release date: {{ vm.version.releaseDate }}</p>
                </div>

                <ul class="chart-header">
                    <li><span ng-bind="vm.totalApproved" class="highcharts-color-0"></span>approved</li>
                    <li><span ng-bind="vm.totalCancelled" class="highcharts-color-1"></span>cancelled</li>
                    <li><span ng-bind="vm.totalRejected" class="highcharts-color-3"></span>rejected</li>
                    <li><span ng-bind="vm.totalPending" class="highcharts-color-2"></span>pending</li>
                </ul>
                <div class="chart-controls">
                    <umb-control-group label="@workflow_dateRange">
                        <input type="number" name="date-range" ng-model="vm.range" ng-change="vm.getForRange()" ng-model-options="{ debounce: 300 }" no-dirty-check/>
                    </umb-control-group>
                    <umb-control-group label="@workflow_viewType">
                        <select name="view-type" ng-model="vm.type" ng-options="o for o in ['Task', 'Instance']" ng-change="vm.getForRange()" no-dirty-check/>
                    </umb-control-group>
                </div>
                <wf-line-chart series="vm.series" ready="vm.loaded" ng-class="{ 'chart-loading' : !vm.loaded }"></wf-line-chart>
            </umb-editor-container>
        </umb-editor-view> 
        <umb-load-indicator ng-if="!vm.loaded"></umb-load-indicator>
    </div>
</div>