<form ng-show="!vm.loading" class="form-horizontal workflow" novalidate ng-controller="Workflow.Groups.Dashboard.Controller as vm">
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <umb-editor-view footer="false" umb-tabs>

        <umb-editor-header 
            name="vm.name"
            name-locked="true"
            tabs=""
            hide-icon="true"
            hide-description="true"
            hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-editor-sub-header>
                <umb-editor-sub-header-content-right>
                    <div class="form-search pull-right ng-pristine ng-valid">
                        <div class="inner-addon left-addon">
                            <i class="icon icon-search"></i>
                            <input type="text" class="form-control ng-pristine ng-valid" localize="general_typeToSearch" placeholder="Type to search..." ng-model="vm.search.$" prevent-enter-submit="" no-dirty-check="">
                        </div>
                    </div>
                </umb-editor-sub-header-content-right>
            </umb-editor-sub-header>

            <div>
                <div class="umb-table" ng-if="vm.items">
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell">
                                <input class="umb-table__input" type="checkbox">
                            </div>
                            <div class="umb-table-cell umb-table__name">
                                <a class="umb-table-head__link sortable" href="#" ng-click="sort('name', true, true)" prevent-default>
                                    <localize key="general_name">Name</localize>
                                </a>
                            </div>
                            <div class="umb-table-cell">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    Members
                                </a>
                            </div>
                            <div class="umb-table-cell">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    Permissions
                                </a>
                            </div>
                            <div class="umb-table-cell umb-table-cell__auto">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    Email
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="umb-table-body">
                        <div class="umb-table-row"
                                ng-repeat="item in vm.items | filter:vm.search" emit-last-repeater-element>

                            <div class="umb-table-cell">
                                <i class="umb-table-body__icon icon-users"></i>
                            </div>
                            <div class="umb-table-cell umb-table__name">
                                <a class="umb-table-body__link" ng-href="#/workflow/workflow/edit-group/{{ item.groupId }}" title="Edit group: {{ item.name }}">{{ item.name }}</a>
                            </div>
                            <div class="umb-table-cell">
                                <ul> 
                                    <li ng-repeat="u in item.users">
                                        <a ng-href="#/users/users/user/{{ u.user.userId }}" title="Edit user: {{ u.user.name }}">{{ u.user.name }}</a>
                                    </li>
                                </ul> 
                            </div>
                            <div class="umb-table-cell"> 
                                <ul>
                                    <li ng-repeat="perm in item.permissions | limitTo: 3">
                                        <a ng-if="perm.nodeName" ng-href="#/content/content/edit/{{ perm.nodeId }}" title="Edit node: {{ perm.nodeName }}">{{ perm.nodeName}} (stage {{ perm.permission + 1 }})</a>
                                        <a ng-if="perm.contentTypeName && !perm.nodeName" ng-href="#/settings/documentTypes/edit/{{ perm.contentTypeId }}" title="Edit content type: {{ perm.contentTypeName }}">{{ perm.contentTypeName }} (stage {{ perm.permission + 1 }})</a>
                                    </li>
                                    <li ng-if="item.permissions.length > 3">Plus {{ item.permissions.length - 3 }} more</li>
                                </ul>
                            </div>
                            <div class="umb-table-cell umb-table-cell__auto">
                                <a ng-href="mailto:{{ vm.getEmail(item.users) }}">
                                    <i class="umb-table-body__icon icon-inbox" title="Email group"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                </div>

                <umb-empty-state ng-if="!vm.items" position="center">
                    <localize key="content_listViewNoItems">There are no items show in the list.</localize>
                </umb-empty-state>
            
            </div>
        </umb-editor-container>
    </umb-editor-view>
</form>﻿
