<form class="form-horizontal workflow" name="approvalGroupForm" novalidate val-form-manager ng-controller="Workflow.Groups.Edit.Controller as vm">
    <umb-editor-view umb-tabs>
        <umb-editor-header name="vm.group.name"
                           alias="vm.group.alias"
                           tabs="vm.tabs"
                           hide-description="true"
                           hide-icon="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-tabs-content view="true">
                <umb-tab id="tab{{tab.id}}" ng-repeat="tab in vm.tabs" rel="{{tab.id}}">
                    <div ng-if="tab.alias === 'tab0'">

                        <div class="umb-packages-view-wrapper" style="padding: 0;">
                            <div class="umb-package-details">

                                <div class="umb-package-details__main-content">
                                    <umb-box data-element="workflow-groups__configuration">
                                        <umb-box-header title-key="workflow_config"></umb-box-header>
                                        <umb-box-content class="block-form">

                                            <umb-control-group label="@general_email" description="@workflow_workflowGroupEmail">
                                                <input type="email" class="umb-editor" ng-model="vm.group.groupEmail" name="groupEmail"/>
                                            </umb-control-group>
                                            
                                            <umb-control-group label="@workflow_offlineApproval" description="@workflow_offlineApprovalDescription">
                                                <input type="checkbox" ng-model="vm.group.offlineApproval"/>
                                            </umb-control-group>

                                            <umb-control-group label="@workflow_groupDescription" description="@workflow_groupDescriptionDetail">
                                                <textarea name="groupDescription" ng-model="vm.group.description" class="group-description umb-editor"></textarea>
                                            </umb-control-group>

                                        </umb-box-content>
                                    </umb-box>     
                                    <umb-box class="permissions" data-element="workflow-groups__permissions">
                                        <umb-box-header title-key="workflow_currentWorkflowRoles"></umb-box-header>
                                        <umb-box-content class="block-form">
                                            <umb-control-group label="@workflow_nodeApprovalFlows" description="@workflow_nodeApprovalFlowsDescription">
                                                <umb-node-preview ng-repeat="node in vm.nodePermissions | filter: { name : '!!' }"
                                                                  style="max-width: 100%;"
                                                                  allow-edit="true"
                                                                  on-edit="vm.editContentPermission(node.nodeId, node.path)"
                                                                  icon="node.icon"
                                                                  name="node.name">
                                                </umb-node-preview>
                                            </umb-control-group>
                                            <umb-control-group label="@workflow_documentFlows" description="@workflow_documentFlowsDescription">
                                                <umb-node-preview ng-repeat="docType in vm.docPermissions"
                                                                  style="max-width: 100%;"
                                                                  allow-edit="true"
                                                                  on-edit="vm.editDocTypePermission(docType)"
                                                                  icon="docType.icon"
                                                                  name="docType.name">
                                                </umb-node-preview>
                                            </umb-control-group>
                                        </umb-box-content>
                                    </umb-box>                                                                                         
                                </div>                                

                                <div class="umb-package-details__sidebar">
                                    <div class="umb-package-details__section" data-element="workflow-groups__users">

                                        <div class="umb-package-details__section-title"><localize key="workflow_membership">Group members</localize></div>

                                        <umb-user-preview ng-repeat="u in vm.group.users | orderBy: 'name'"
                                                          name="u.user.name"
                                                          avatars="u.user.avatars"
                                                          allow-remove="true"
                                                          on-remove="vm.remove(u.userId)">
                                        </umb-user-preview>

                                        <a href=""
                                           style="max-width: 100%;"
                                           class="umb-node-preview-add"
                                           ng-click="vm.openUserPicker()"
                                           prevent-default>
                                            <localize key="general_add">Add</localize>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>          
                    </div>
                    <div ng-if="tab.alias === 'tab1'">
                        <umb-editor-sub-header>
                            <umb-editor-sub-header-content-right>
                                <label for="per-page">Items per page</label>
                                <select id="per-page" ng-model="vm.pagination.perPage" ng-options="n for n in vm.perPage()" ng-change="vm.pagination.goToPage(1)"></select>
                            </umb-editor-sub-header-content-right>
                        </umb-editor-sub-header>
                        
                        <wf-instance items="vm.tasks" loaded="vm.tasksLoaded" view="vm.view"></wf-instance>

                        <div class="flex justify-center">
                            <umb-pagination ng-if="vm.pagination.totalPages > 1"
                                            page-number="vm.pagination.pageNumber"
                                            total-pages="vm.pagination.totalPages"
                                            on-next="vm.pagination.goToPage"
                                            on-prev="vm.pagination.goToPage"
                                            on-go-to-page="vm.pagination.goToPage">
                            </umb-pagination>
                        </div>
                    </div>
                </umb-tab>
            </umb-tabs-content>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button action="vm.save()"
                            type="button"
                            button-style="success"
                            shortcut="ctrl+s"
                            label="Save group" />
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>

    <umb-overlay ng-if="vm.userPicker.show"
                 model="vm.userPicker"
                 view="vm.userPicker.view"
                 position="right">
    </umb-overlay>
    
    <umb-load-indicator ng-if="!vm.loaded"></umb-load-indicator>

</form>