<form class="form-horizontal workflow workflow-history" ng-controller="Workflow.History.Controller as vm" novalidate>
    <umb-editor-view footer="false">
        <umb-editor-header name="vm.name"
                           name-locked="true"
                           tabs=""
                           hide-icon="true"
                           hide-description="true"
                           hide-alias="true">
        </umb-editor-header>
        <umb-editor-container>

            <umb-editor-sub-header>
                <umb-editor-sub-header-left>
                    <a class="btn" href="#" ng-click="vm.selectNode()" prevent-default>
                        Select node
                    </a>
                    <a class="btn" href="#" ng-show="vm.view !== 'instance'" ng-click="vm.getAllInstances()" prevent-default>
                        Show all
                    </a> 
                </umb-editor-sub-header-left>
                <umb-editor-sub-header-right> 
                    <umb-control-group label="Per page" class="chart-controls">
                        <select id="per-page" ng-model="vm.pagination.perPage" ng-options="n for n in vm.perPage()" ng-change="vm.pagination.goToPage(1)"></select>
                    </umb-control-group>
                </umb-editor-sub-header-right>
            </umb-editor-sub-header>

            <div>
                <div ng-show="vm.view === 'node'">
                    <h4>Workflow data for: <a ng-href="/umbraco#/content/content/edit/{{ vm.node.id }}">{{ vm.node.name }}</a></h4>
                    <wf-instance items="vm.items" loaded="vm.nodeInstancesLoaded" view="vm.view"></wf-instance>
                </div>

                <div ng-show="vm.view.indexOf('activity') === 0">
                    <h4>Workflow data for task status: {{ vm.activityFilter.friendly || vm.activityFilter.filter }} (Last {{ vm.activityFilter.range }} days)</h4>
                    <wf-instance items="vm.items" loaded="vm.activityLoaded" view="vm.view"></wf-instance>
                </div>
                
                <div ng-show="vm.view === 'instance'">
                    <wf-instance items="vm.items" loaded="vm.instancesLoaded" view="vm.view"></wf-instance>
                </div>
                 
                <div class="flex justify-center" ng-show="vm.items">
                    <umb-pagination ng-if="vm.pagination.totalPages > 1"
                                    page-number="vm.pagination.pageNumber"
                                    total-pages="vm.pagination.totalPages"
                                    on-next="vm.pagination.goToPage"
                                    on-prev="vm.pagination.goToPage"
                                    on-go-to-page="vm.pagination.goToPage">
                    </umb-pagination>
                </div>

            </div>
        </umb-editor-container>
    </umb-editor-view>
    <umb-overlay ng-if="vm.overlay.show"
                 model="vm.overlay"
                 view="vm.overlay.view"
                 position="right">
    </umb-overlay>
</form>
