<form class="form-horizontal workflow workflow-settings" ng-controller="Workflow.Settings.Controller as vm">
    <umb-editor-view footer="true">
        <umb-editor-header name="vm.name"
                           name-locked="true"
                           hide-icon="true"
                           hide-description="true"
                           hide-alias="true">
        </umb-editor-header>
        <umb-editor-container>

            <div class="umb-package-details">
                <div class="umb-package-details__main-content">
                    <umb-box>
                        <umb-box-header title-key="workflow_generalSettings"></umb-box-header>
                        <umb-box-content class="block-form">
                            <umb-control-group label="@workflow_flowType" description="@workflow_flowTypeDescription" data-element="workflow-settings__flowtype">
                                <select ng-model="vm.flowType" class="umb-editor" ng-options="f as f.v for f in vm.flowTypes" name="Flow type">
                                    <option></option>
                                </select>
                            </umb-control-group>
                            <umb-control-group label="@workflow_lockIfActive" description="@workflow_lockIfActiveDescription">
                                <input type="checkbox" ng-model="vm.settings.lockIfActive" />
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>
                    <umb-box data-element="workflow-settings__email">
                        <umb-box-header title-key="workflow_emailSettings"></umb-box-header>
                        <umb-box-content class="block-form">
                            <umb-control-group label="@workflow_sendNotifications" description="@workflow_sendNotificationsDescription">
                                <input type="checkbox" ng-model="vm.settings.sendNotifications"/>
                            </umb-control-group>

                            <umb-control-group label="@workflow_workflowEmail" description="@workflow_workflowEmailDescription">
                                <input type="email" class="umb-editor" ng-model="vm.settings.email"/>
                            </umb-control-group>

                            <umb-control-group label="@workflow_baseSiteUrl" description="@workflow_baseSiteUrlDescription">
                                <input type="text" class="umb-editor" ng-model="vm.settings.siteUrl"/>
                            </umb-control-group>

                            <umb-control-group label="@workflow_editSiteUrl" description="@workflow_editSiteUrlDescription">
                                <input type="text" class="umb-editor" ng-model="vm.settings.editUrl"/>
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>
                </div>
                <div class="umb-package-details__sidebar">

                    <umb-box data-element="workflow-settings__contenttype">
                        <umb-box-header title-key="workflow_contentTypeSettings"></umb-box-header>
                        <umb-box-content class="block-form">
                            <umb-control-group description="@workflow_documentFlowsDescription">
                                <div class="umb-node-preview ui-sortable-handle" ng-repeat="type in vm.docTypes | filter:vm.hasApprovalPath | orderBy:name">
                                    <i class="umb-node-preview__icon {{ type.icon[0] === '.' ? 'icon-folder' : type.icon }}"></i>
                                    <div class="umb-node-preview__content">
                                        <div class="umb-node-preview__name" ng-bind="type.name"></div>
                                        <div class="umb-node-preview__description" ng-if="description" ng-bind="type.description"></div>
                                    </div>
                                    <div class="umb-node-preview__actions">
                                        <a class="umb-node-preview__action umb-node-preview__action--red" title="Edit approval steps" href="" ng-click="vm.editDocTypeFlow(type)"><localize key="general_edit">Edit</localize></a>
                                        <a class="umb-node-preview__action umb-node-preview__action--red" title="Remove all approval steps" href="" ng-click="vm.removeDocTypeFlow(type)"><localize key="general_remove">Remove</localize></a>
                                    </div>
                                </div>
                                <a href="" class="umb-node-preview-add" ng-click="vm.editDocTypeFlow()" prevent-default="" data-element="workflow-settings__contenttype-add">
                                    <localize key="general_add">Add</localize>
                                </a>
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>

                    <umb-box data-element="workflow-settings__exclusions">
                        <umb-box-header title-key="workflow_excludeNodes"></umb-box-header>
                        <umb-box-content class="block-form">
                            <umb-control-group description="@workflow_excludeNodesDescription">
                                <umb-property-editor model="vm.excludeNodesModel" id="exclude-nodes-picker"></umb-property-editor>
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>
                </div>
            </div>

        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <button class="btn btn-success" ng-click="vm.save()">Save settings</button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
    
    <umb-overlay ng-if="vm.overlay.show"
                 model="vm.overlay"
                 view="vm.overlay.view"
                 position="right">
    </umb-overlay>
</form>
