<form class="form-horizontal workflow workflow-settings" ng-controller="Workflow.Settings.Controller as vm">
    <umb-editor-view footer="true">
        <umb-editor-header 
            name="vm.name"
            name-locked="true"
            hide-icon="true"
            hide-description="true"
            hide-alias="true">
        </umb-editor-header> 
        <umb-editor-container>
            
            <div class="umb-package-details">
                <div class="umb-package-details__main-content">
                    <div class="umb-box">
                        <div class="umb-box-header">
                            <div class="umb-box-header-title">
                                <localize key="workflow_generalSettings">General settings</localize>
                            </div>
                        </div>
                        <div class="block-form umb-box-content">
                            <umb-control-group label="@workflow_defaultApprovalGroup" description="@workflow_defaultApprovalGroupDescription">
                                <select ng-model="vm.defaultApprover" ng-options="g.name for g in vm.groups" name="Default approval group">
                                    <option></option>
                                </select>
                            </umb-control-group>

                            <umb-control-group label="@workflow_flowType" description="@workflow_flowTypeDescription">
                                <select ng-model="vm.flowType" ng-options="f as f.v for f in vm.flowTypes" name="Flow type">
                                    <option></option>
                                </select>
                            </umb-control-group>
                        </div>
                    </div>
                    <div class="umb-box">
                        <div class="umb-box-header">
                            <div class="umb-box-header-title">
                                <localize key="workflow_emailSettings">Email</localize>
                            </div>
                        </div>
                        <div class="block-form umb-box-content">
                            <umb-control-group label="@workflow_sendNotifications" description="@workflow_sendNotificationsDescription">
                                <input type="checkbox" ng-model="vm.settings.sendNotifications"/>
                            </umb-control-group>

                            <umb-control-group label="@workflow_workflowEmail" description="@workflow_workflowEmailDescription">
                                <input type="email" ng-model="vm.settings.email"/>
                            </umb-control-group>

                            <umb-control-group label="@workflow_baseSiteUrl" description="@workflow_baseSiteUrlDescription">
                                <input type="text" ng-model="vm.settings.siteUrl"/>
                            </umb-control-group>

                            <umb-control-group label="@workflow_editSiteUrl" description="@workflow_editSiteUrlDescription">
                                <input type="text" ng-model="vm.settings.editUrl"/>
                            </umb-control-group>
                        </div>
                    </div>
                </div>
                <div class="umb-package-details__sidebar">
                    <div class="umb-box">
                        <div class="umb-box-header">
                            <div class="umb-box-header-title">
                                <localize key="workflow_excludeNodeSettings">Exclusions</localize>
                            </div>
                        </div>
                        <div class="block-form umb-box-content">
                            <umb-control-group label="@workflow_excludeNodes" description="@workflow_excludeNodesDescription">
                                <umb-property-editor model="vm.excludeNodesModel" id="exclude-nodes-picker"></umb-property-editor>
                            </umb-control-group>
                        </div>
                    </div>
                    <div class="umb-box">
                        <div class="umb-box-header">
                            <div class="umb-box-header-title">
                                <localize key="workflow_contentTypeSettings">Content type approval flows</localize>
                            </div>
                        </div>
                        <div class="block-form umb-box-content">
                            <umb-control-group label="@workflow_documentFlows" description="@workflow_documentFlowsDescription">
                                <input type="text" ng-model="search.$" placeholder="Search" prevent-enter-submit no-dirty-check/>
                                <div class="control-panel" ng-repeat="d in vm.docTypes | filter:search | limitTo:5 ">
                                    <h5 ng-bind="d.name"></h5>
                                    <select ng-model="d.selectedApprovalGroup" ng-options="g as g.name for g in vm.groups">
                                        <option selected disabled>--- Add ---</option>
                                    </select>
                                    <button class="btn btn-default" ng-click="vm.add(d)">Add</button>
                                    <div ng-show="d.approvalPath">
                                        <h6>Current flow</h6>
                                        <ul class="current-flow">
                                            <li ng-class="{'last': $last}" ng-repeat="u in d.approvalPath track by $index" ng-click="vm.remove(d, $index)" title="Remove approval role for {{u.name}}">{{u.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </umb-control-group>
                        </div>
                    </div>
                </div>
            </div>
            
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <button class="btn btn-success" ng-click="vm.save()">Save settings</button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>
