<umb-panel ng-controller="Workflow.UserGroups.Edit.Controller" class="workflow">
    <umb-header>
        <div class="span8">
            <h1>{{action}} {{group.Name}}</h1>
        </div>
        <div class="span4">
            <div class="btn-toolbar umb-btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="saveGroup()">Save</button>
                </div>
            </div>
        </div>
    </umb-header>
    <div class="umb-panel-body">
        <div class="umb-pane row">
            <div class="span9">
                <h4>Group detail</h4>
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label for="groupName" class="control-label">Name</label>
                        <div class="controls controls-row">
                            <input type="text" ng-model="group.Name" name="groupName" />
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label for="groupAlias" class="control-label">Alias</label>
                        <div class="controls controls-row">
                            <input type="text" ng-model="group.Alias" name="groupAlias" disabled />
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label for="groupEmail" class="control-label">Email</label>
                        <div class="controls controls-row">
                            <input type="email" ng-model="group.GroupEmail" name="groupEmail" />
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label for="groupDescription" class="control-label">Description</label>
                        <div class="controls controls-row">
                            <textarea name="groupDescription" rows="3" cols="20" ng-model="group.Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 permissions" ng-if="$routeParams.id !== '-1' && group.Permissions.length">
                <h4>Group permissions</h4>
                <ul class="permissions-list" data-label="Author for:" ng-if="hasAuthorPermissions">
                    <li ng-repeat="p in group.Permissions | filter:{Permission:1}:true" ng-show="p.NodeName.length"><a ng-href="{{p.Url}}">{{p.NodeName}}</a></li>
                </ul>
                <ul class="permissions-list" data-label="Coordinator for:" ng-if="hasCoordinatorPermissions">
                    <li ng-repeat="p in group.Permissions | filter:{Permission:2}:true" ng-show="p.NodeName.length"><a ng-href="{{p.Url}}">{{p.NodeName}}</a></li>
                </ul>
            </div>
        </div>
        <div class="row umb-pane">
            <div class="user-lists span12">
                <h4>Group membership</h4>
                <div class="user-list">
                    <h5>All users</h5>
                    <input type="text" ng-model="addUserFilter" placeholder="Search" />
                    <ul class="user-list">
                        <li ng-repeat="u in notInGroup | orderBy: 'name' | filter:{name:addUserFilter}" ng-click="add(u.id)" title="Add {{u.name}} to {{group.Name}}">{{u.name}}</li>
                    </ul>
                </div>
                <div class="user-list">
                    <h5>Current members</h5>
                    <input type="text" ng-model="removeUserFilter" placeholder="Search" />
                    <ul>
                        <li ng-repeat="u in group.Users | orderBy: 'Name' | filter:{Name:removeUserFilter}" ng-click="remove(u.UserId)" title="Remove {{u.Name}} from {{group.Name}}">{{u.Name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</umb-panel>