<div ng-controller="Workflow.History.Controller as vm">
    <form class="form-horizontal">
        <umb-editor-view footer="true">
            <umb-editor-header name="vm.name"
                               name-locked="true"
                               tabs=""
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>
            <umb-editor-container>

                <umb-editor-sub-header>
                    <umb-editor-sub-header-left>
                        <a class="btn" href="#" ng-click="vm.selectNode()" prevent-default>
                            Select node
                        </a>
                    </umb-editor-sub-header-left>                   
                </umb-editor-sub-header>
                <div>
                    <div ng-show="vm.isNode">
                        <h4>Workflow data for: <a ng-href="/umbraco#/content/content/edit/{{ vm.node.id }}">{{ vm.node.name }}</a></h4>
                    </div>
                    <div class="umb-table" ng-if="items">
                        <div class="umb-table-head">
                            <div class="umb-table-row">
                                <div class="umb-table-cell">
                                    <input class="umb-table__input" type="checkbox"
                                           ng-click="selectAll($event)"
                                           ng-checked="isSelectedAll()">
                                </div>
                                <div class="umb-table-cell">
                                    <a class="umb-table-head__link" href="#" prevent-default>
                                        Type
                                    </a>
                                </div>
                                <div class="umb-table-cell">
                                    <a class="umb-table-head__link" href="#" prevent-default>
                                        Node
                                    </a>
                                </div>
                                <div class="umb-table-cell">
                                    <a class="umb-table-head__link" href="#" prevent-default>
                                        Requested by
                                    </a>
                                </div>
                                <div class="umb-table-cell">
                                    <a class="umb-table-head__link" href="#" prevent-default>
                                        Requested on
                                    </a>
                                </div>
                                <div class="umb-table-cell">
                                    <a class="umb-table-head__link" href="#" prevent-default>
                                        Comments
                                    </a>
                                </div>
                                <div class="umb-table-cell">
                                    <a class="umb-table-head__link" href="#" prevent-default>
                                        Approval group
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="umb-table-body">
                            <div class="umb-table-row"
                                 ng-repeat="item in pagedItems | filter:search">

                                <div class="umb-table-cell">
                                    <i class="umb-table-body__icon icon-document"></i>
                                </div>
                                <div class="umb-table-cell umb-table__name">
                                    {{ item.Type }}
                                </div>
                                <div class="umb-table-cell umb-table__name">
                                    <node-name node-id="{{ item.NodeId }}"></node-name>
                                </div>   
                                <div class="umb-table-cell umb-table__name">
                                    {{ item.RequestedBy }}
                                </div>   
                                <div class="umb-table-cell umb-table__name">
                                    {{ item.RequestedOn }}
                                </div>   
                                <div class="umb-table-cell umb-table__name">
                                    {{ item.Comments }}
                                </div>   
                                <div class="umb-table-cell umb-table__name">
                                    {{ item.ApprovalGroup }}
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <wf-paging-controls></wf-paging-controls>
                    </div>

                    <umb-empty-state ng-if="!items" position="center">
                        <localize key="content_listViewNoItems">There are no items show in the list.</localize>
                    </umb-empty-state>

                </div>
            </umb-editor-container>          
        </umb-editor-view>
    </form>
</div>
