<div ng-controller="Workflow.History.Controller as vm">
    <form class="form-horizontal">
        <umb-editor-view footer="true">
            <umb-editor-header name="vm.name"
                               name-locked="true"
                               tabs=""
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>
            <umb-editor-container>

                <umb-editor-sub-header>
                    <umb-editor-sub-header-left>
                        <a class="btn" href="#" ng-click="vm.selectNode()" prevent-default>
                            Select node
                        </a>
                    </umb-editor-sub-header-left>                   
                </umb-editor-sub-header>
                <div>
                    <div ng-show="vm.isNode">
                        <h4>Workflow data for: <a ng-href="/umbraco#/content/content/edit/{{ vm.node.id }}">{{ vm.node.name }}</a></h4>
                    </div>

                    <wf-history items="items" is-node="vm.isNode"></wf-history>

                    <div class="flex justify-center">
                        <wf-paging-controls></wf-paging-controls>
                    </div>

                    <umb-empty-state ng-if="!items" position="center">
                        <localize key="content_listViewNoItems">There are no items show in the list.</localize>
                    </umb-empty-state>

                </div>
            </umb-editor-container>          
        </umb-editor-view>
    </form>
</div>
