<!DOCTYPE html>
<html lang="en">
<head>
    <title>Preview</title>
    <link href="/umbraco/assets/css/umbraco.css" rel="stylesheet" type="text/css" />
    <link href="/app_plugins/workflow/backoffice/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="/app_plugins/workflow/backoffice/css/preview.css" rel="stylesheet" type="text/css" />
    <meta name="robots" content="noindex, nofollow">
</head>
<body ng-controller="workflow.preview.controller as vm" class="workflow workflow-preview" ng-class="{ 'loaded': frameLoaded }">

    <div ng-if="vm.invalid" class="alert-wrapper">
        <div class="alert alert-error"><strong>Invalid request</strong> The requested URL does not map to a valid workflow process. The task may have already been completed, or the requesting user does not have permission to action the task.</div>
    </div>

    <iframe id="resultFrame" ng-src="{{ vm.pageUrl }}" iframe-is-loaded></iframe>

    <div data-element="editor-footer" class="umb-tab-buttons umb-editor-drawer" ng-if="!vm.invalid">
        <button class="btn btn-default" ng-click="vm.action('Reject')">Reject</button>
        <button class="btn btn-approve" ng-click="vm.action('Approve')">Approve</button>
    </div>

    <umb-overlay ng-if="vm.workflowOverlay.show"
                 model="vm.workflowOverlay"
                 view="vm.workflowOverlay.view"
                 position="right">
    </umb-overlay>

    <umb-load-indicator ng-show="!frameLoaded"></umb-load-indicator>

    <umb-notifications></umb-notifications>

    <script>

        var Umbraco = {};
        Umbraco.Sys = {};
        Umbraco.Sys.ServerVariables = {"umbracoUrls":{"serverVarsJs":"/umbraco/ServerVariables","authenticationApiBaseUrl":"/umbraco/backoffice/UmbracoApi/Authentication/","currentUserApiBaseUrl":"/umbraco/backoffice/UmbracoApi/CurrentUser/"}};

    </script>

    <script src="/app_plugins/workflow/backoffice/lib/rgrove-lazyload/lazyload.js"></script>
    <script src="/app_plugins/workflow/backoffice/preview/preview.loader.js"></script>
</body>
</html>

